{% extends 'base.html' %} {% block bodyblock %}

<div class="container">
    <h3>Welcome to the Gender Classification Page.</h3>
</div>

<div class="container">
    <br>
    <form action="#" method="post" enctype="multipart/form-data">
        <label for="upload">Please upload an image to predict your gender: </label> <br><br>
        <input type="file" id="upload" name="image" required="true">
        <input type="submit" value="See Prediction">
    </form>
</div>

{% if fileupload %}

<div class="container">
    <div class="row">
        <div class="col-md-6" id="predict">
            <img src="{{ url_for('static',filename='uploads/')}}{{ img_name }}" alt="" width="{{ w }}" height="300">
        </div>
        <div class="col-md-6" id="predict">
            <img src="{{ url_for('static',filename='predict/')}}{{ img_name }}" alt="" width="{{ w }}" height="300">
        </div>
    </div>
</div>


{% endif %} 


<style>
    .container{
        border: 1px solid red;
        text-align: center;
    }

    input{
         border: 1px solid red;
         text-align: center;
            padding: 10px;
            list-style: none;
            margin: 5px 2px;
            outline: none;
            background-color: #002f4d;
            text-decoration: none !important;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            height: 45px;
            color: white;
            box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
            text-align: center;
            cursor: pointer;
    }

    #predict {
        border: solid;
        color: #002f4d;
        text-align: center;
        border: 1px solid red;
    }
</style>

{% endblock %}